*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
header{
  padding: 30px 45px;
  color: lightgreen;
  background-color: darkgreen;
  height: 15vh;
  display: flex;
  align-items: center;
}
header h1{
  font-size: 50px;
}
/* Main */
main{
  padding: 15px 60px;
  background-color: lightgreen;
  height: 85vh;
  position: relative;
}
main li{
  font-size: 25px;
  padding: 10px 0px;
}

/* Input */
input{
  padding: 10px;
  margin-top: 30px;
  font-size: 20px;
}

/* Button */
button{
  padding: 10px;
  font-size: 20px;
  border-radius: 15px;
  cursor: pointer;
}

h2{
  font-size: 40px;
  margin-top: 30px;
}


/* Template */
.template{
  display: none;
}
.template li{
  position: relative;
}
span{
  color: red;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  left: 200px;
}
